
.icon-globe:before { content: '\e800'; } /* '' */
.icon-signal:before { content: '\e801'; } /* '' */
.icon-chart-bar:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-post:before { content: '\e82c'; } /* '' */
