.control{
  padding-top: 25px;
  &__row{
    display: flex;
    column-gap: 30px;
  }

  &__li{
    &-img{
      width: 380px;
      height: 260px;
      margin-bottom: 15px;
    }
    &-title{
      @include fonts($roboto,normal,bold,36px,150%);
      text-align: start;
      margin-bottom: 15px;
    }
    &-description{
      @include fonts($roboto,normal,500,20px,150%);
      text-align: start;
    }
  }
}
@media (max-width: 1024px) {
  .control{
    .container{
      max-width: 990px;
    }
    &__row{
      display: flex;
      column-gap: 20px;
    }
    &__li{
      &-img{
        width: 310px;
        height: 220px;
        margin-bottom: 15px;
      }
      &-title{
        @include fonts($roboto,normal,bold,29px,150%);
        text-align: start;
        margin-bottom: 15px;
      }
      &-description{
        @include fonts($roboto,normal,500,18px,150%);
        text-align: start;
      }
    }
  }
}
@media (max-width: 768px) {
  .control{
    .container{
      max-width: 750px;
    }
    &__row{
      display: flex;
      column-gap: 15px;
    }
    &__li{
      &-img{
        width: 235px;
        height: 180px;
        margin-bottom: 12px;
      }
      &-title{
        @include fonts($roboto,normal,bold,21px,150%);
        text-align: start;
        margin-bottom: 12px;
      }
      &-description{
        @include fonts($roboto,normal,500,15px,150%);
        text-align: start;
      }
    }
  }
}
@media (max-width: 425px) {
  .control{
    .container{
      max-width: 350px;
    }
    &__row{
      display: block;
    }
    &__li{
      margin-bottom: 30px;
      &-img{
        width: 350px;
        height: 220px;
        margin-bottom: 10px;
      }
      &-title{
        @include fonts($roboto,normal,bold,25px,150%);
        text-align: start;
        margin-bottom: 10px;
      }
      &-description{
        @include fonts($roboto,normal,500,19px,150%);
        text-align: start;
      }
    }
  }
}
@media (max-width: 375px) {
  .control{
    .container{
      max-width: 350px;
    }
    &__row{
      display: block;
    }
    &__li{
      margin-bottom: 30px;
      &-img{
        width: 350px;
        height: 220px;
        margin-bottom: 10px;
      }
      &-title{
        @include fonts($roboto,normal,bold,25px,150%);
        text-align: start;
        margin-bottom: 10px;
      }
      &-description{
        @include fonts($roboto,normal,500,19px,150%);
        text-align: start;
      }
    }
  }
}
@media (max-width: 320px) {
  .control{
    .container{
      max-width: 300px;
    }
    &__row{
      display: block;
    }
    &__li{
      margin-bottom: 30px;
      &-img{
        width: 300px;
        height: 190px;
        margin-bottom: 10px;
      }
      &-title{
        @include fonts($roboto,normal,bold,25px,150%);
        text-align: start;
        margin-bottom: 10px;
      }
      &-description{
        @include fonts($roboto,normal,500,17px,150%);
        text-align: start;
      }
    }
  }
}