.header{
position: fixed;
  width: 100%;
  z-index: 2;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0B446B65;
  }
 &__block{
   position: relative;
   z-index: 4;
   padding-top: 20px;
   padding-bottom: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
  &__img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  &__nav{
    display: flex;
    column-gap: 40px;
  }
  &__link{
    @include fonts($roboto,normal,600,28px,200%);
    color: black ;
  }
  &__burger{
     z-index: 2;
     display: none;
  }
}

@media (max-width: 1024px) {
  .container{
    max-width: 990px;
  }
}

@media (max-width: 768px) {
 .header{
   padding-left:  10px;
   .container{
     max-width: 750px;
   }
   &__nav{
     column-gap: 30px;
   }
   &__link{
     @include fonts($roboto,normal,600,24px,200%);
   }
 }
}

@media (max-width: 425px) {
  .header{
    .container{
      max-width: 410px;
    }
    &__nav{
     column-gap: 10px;
      margin-right: 10px;
    }
    &__link{
      @include fonts($roboto,normal,600,12px,200%);
    }
    &__img{
      width: 60px;
      height: 60px;
    }
  }
}
 @media (max-width: 375px) {
   .header{
     .container{
       max-width: 360px;
     }
     &__nav{
       column-gap: 5px;
       margin-right: 10px;
     }
     &__link{
       @include fonts($roboto,normal,600,10px,200%);
     }
     &__img{
       width: 50px;
       height: 50px;
     }
   }
 }
@media (max-width: 320px) {
  .header{
    .container{
      max-width: 310px;
    }
    &__nav{
      column-gap: 5px;
      margin-right: 5px;
    }
    &__link{
      @include fonts($roboto,normal,600,8px,200%);
    }
    &__img{
      width: 50px;
      height: 50px;
    }
  }
}